.text{
    text-align: center;
    font-style: oblique;
}

.alinhamento_cards{
    margin: 0 auto;
    max-width: 800px;
}

@media (max-width: 800px) {
    .alinhamento_cards{
        width: auto;
    }
}

