#luca{
 height: 70vh;
}

@media (max-width: 1200px) {
 #luca{
  height: 60vh;
 }
}

@media (max-width: 1000px) {
 #luca{
  height: 50vh;
 }
}

@media (max-width: 800px) {
 .luca{
  height: 30vh; }
}



