.title_historia{
    font-style: oblique;
}

.historia{
    height:auto ;
    text-align:center ;
    border-radius:10px ;
    padding:10px;
    max-width:85%;
    margin:0 auto;
    font-size: 20px;
}

.text_historia{
    text-align:center;
    padding:40px;
    color: white;
    max-width: 70%;
    margin: 0 auto;
}

.alinhamento_button{
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 40px;
}

.button{
    font-size: 25px;
}

@media (max-width: 1000px) {
    .historia{
        max-width:100%;
        padding:0px;
    }
}


@media (max-width: 1500px) {
    .text_historia{
        max-width: 100vw;
        padding:5px;
    }
    .historia{
        font-size: 15px;
    }
}
