.alinhamento_image{
    display:flex!important;
    justify-content:center!important;
    padding-bottom:250px!important;
}

.espacamento{
    padding:20px;
}

.alinhamento_text{
    color:white;
    max-width:70%;
    margin:0 auto;
    padding-bottom:20px;
}


@media (max-width: 1000px) {
    .alinhamento_text{
        max-width:100%;
    }
}