.size{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.card{
    height: auto;
    width: 200px;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .size{
        width: auto;
        height:auto;
        margin: 10px;
    }

    .card{
        height: auto;
        width: auto;
    }
}

@media (max-width: 500px) {
    .size{
        width: auto;
        height: 150px;
        margin: 10px;
    }

    .card{
        height: auto;
        width: 200px;
    }

    #test{
        display: none;
    }
}

