.size{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.card{
    height: auto;
    width: 30%;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .size{
        width: 80%;
        height:auto;
        margin: 10px auto;
    }

    .card{
        height: auto;
        width: 40%;
    }
}

@media (max-width: 900px) {
    .size{
        width: auto;
        height: 60%;
        margin: 10px;
    }

    .card{
        height: auto;
        width: 50%;
    }

    #test{
        display: none;
    }
}

@media (max-width: 650px) {
    .size{
        width: auto;
        height: auto;
        margin: 10px;
        display: block;
    }

    .card{
        height: auto;
        width: 100%;
    }

    #test{
        display: none;
    }
}


