.size{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    /*border: 1px solid green;*/
}

.button_att{
    margin-top: 20px;
}

.card{
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.card_limite{
    width: 20%;
}

@media (max-width: 1800px) {
    .size{
        width: auto;
        height:auto;
        margin: 10px auto;
    }

    .card_limite{
        width: 30%;
    }

}


@media (max-width: 970px) {
    .size{
        width: 60%;
        height: auto;
        margin: 10px auto;
        display: block;
    }
    .card_limite{
        width: 100%;
    }

    #test{
        display: none;
    }
    .button_att{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .size{
        width: 100%;
        height: auto;
        margin: 10px auto;
        display: block;
    }
    .card_limite{
        width: 100%;
    }

    #test{
        display: none;
    }
}



