.historia{
    height:auto ;
    /*background-color:darkred ;*/
    text-align:center ;
    border-radius:10px ;
    padding:10px;
    max-width:70%;
    margin:0 auto;
}

.text_historia{
    text-align:center;
    padding:40px;
    background-color: #c2c2c2;
    /*max-width: 80%;*/
    margin: 0 auto;
}

.title_historia{
    font-style: oblique;
}
