.footer {
    display: flex;
    /*flex-direction: column;*/
    padding: 20px;
    border-top: 1px solid #eaeaea;
    justify-content: space-between;
    align-items: center;
    /*background-color: #07456C;*/
}

.number {
    display:flex;
    flex-direction:column;
    /*color: white;*/
}

.espacamento {
    padding: 20px;
}

@media (max-width: 500px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-top: 1px solid #eaeaea;
    }
}