.text_beneficios{
    text-align:center;
    padding:40px;
    font-style: oblique;
    color: white;
}

.alinhamento_button{
    text-align: center;
    padding: 20px;
}

.alinhamento_beneficios{
    max-width: 95%;
    margin: 0 auto;
}