.text_beneficios{
    text-align:center;
    padding:40px;
    font-style: oblique;
    color: white;
}

.alinhamento_button{
    text-align: center;
    padding: 20px;
}

.alinhamento_beneficios{
    max-width: 55%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .alinhamento_beneficios{
        max-width: 90%;
    }
}


@media (max-width: 100px) {
    .alinhamento_beneficios{
        max-width: 100%;
    }
}
