.text{
    text-align: center;
    font-style: oblique;
    /*font-weight: bold;*/
}

.alinhamento{
    text-align:center;
    margin:20px auto;
    width:65vw;
    height:auto;
    border-radius:20px;
    display:flex;
    justify-content:center;
}


.text{
    color: black;
}

.text_horarios{
    text-align:center;
    padding:40px;
    font-style: oblique;
}

.bg_color{
    background-color: whitesmoke;
    opacity: 0.9;
}

@media (max-width: 1000px) {
    .alinhamento{
        display:flex;
        flex-wrap:wrap;
    }
    .text{
        font-size: 15px;
    }
    .text_horarios{
        font-size: 22px;
    }

}
