.text{
    text-align: center;
    font-style: oblique;
    /*font-weight: bold;*/
}

.alinhamento{
    text-align:center;
    margin:20px auto;
    width:75vw;
    height:auto;
    border-radius:20px;
    display:flex;
    justify-content:center;
    border:1px solid red
}


.text{
    color: black;
}

.text_horarios{
    text-align:center;
    padding:40px;
    font-style: oblique;
}

.bg_color{
    background-color: whitesmoke;
    /*opacity: 0.9;*/

    /*background: url("http://s2.glbimg.com/EnIzHFGrnQ48gPgJiIAY4aOH9ms=/e.glbimg.com/og/ed/f/original/2014/11/26/roda_de_capoeira1.jpg");*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    color: white;
    border-radius: 6px;
}

@media (max-width: 1300px) {
    .alinhamento{
        display:flex;
        flex-wrap:wrap;
    }
    .text{
        font-size: 15px;
    }
    .text_horarios{
        font-size: 22px;
    }

    .bg_color{
        height: 100% !important;
    }
}
