.image_background{
  background-image: url("/fundo 1.svg");
  max-width: 100vw;
  margin: 0 auto;
}

.text{
  text-align: center;
  font-style: oblique;
}

.image{
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.button{
  display: flex;
  justify-content: center;
  padding: 40px;
}

@media (max-width: 950px) {
  .image{
    width: 100%;
    height: auto;
  }
}

/*.bg_color{*/
/*  background-color:#07456C*/
/*}*/



/*Index Principal*/

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin: 15px 30px;
  border: 1px solid green;
}

.alinhamento_cards_candidatos{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  /*border:1px solid red*/
}


@media (max-width: 1000px) {
  .alinhamento{
    display:flex;
    flex-wrap:wrap;
  }
}

@media (max-width: 900px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .historia{
    max-width:95%;
  }
  .caroussel{
    max-width: 100%;
    width:100%;
  }
  .alinhamento{
    display:flex;
    flex-wrap:wrap;

  }
}

@media (min-width: 1700px) {
  .alinhamento_cards_candidatos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width: 70%;
    margin: 0 auto;
    padding: 40px;
  }
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
